server:
  port: 8888

spring:
  application:
    name: config-service

  cloud:
    config:
      server:
        git:
          uri: https://github.com/orion048/HardWareStore.git
          search-paths: config-files
          default-label: main
        vault:
          enabled: false
