server:
  port: 8888

spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        git:
          uri: https://github.com/orion048/HardWareStore.git
          # путь внутри репозитория, где лежат конфиги
          search-paths: config-service/src/main/resources/config-files