spring:
  application:
    name: order-service

  config:
    import: optional:configserver:http://localhost:8888

  cloud:
    config:
      label: main
      fail-fast: false
      retry:
        max-attempts: 5
        initial-interval: 2000
        multiplier: 1.5
        max-interval: 10000
