spring:
  application:
    name: order-service

  config:
    import: optional:configserver:http://localhost:8888

  cloud:
    config:
      label: main
      fail-fast: false
      retry:
        max-attempts: 5
        initial-interval: 2000
        multiplier: 1.5
        max-interval: 10000

  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka/
      register-with-eureka: true
      fetch-registry: true