spring:
  application:
    name: user-service   # совпадает с user-service.yml в config-repo

  config:
    import: "configserver:http://localhost:8888"

  cloud:
    config:
      fail-fast: true
      retry:
        max-attempts: 5
        initial-interval: 2000
        multiplier: 1.5
        max-interval: 10000
