.error-message {
    color: red;
    margin-bottom: 10px;
}

.logout-message {
    color: green;
    margin-bottom: 10px;
}


.login-container {
  background-color: lightblue;
  border: 2px dashed navy;
  min-height: 100px;
}
