<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ваши заказы</title>
    <link rel="stylesheet" href="/css/order.css" />
</head>
<body>
<div class="container">
    <h2>Здравствуйте, <span th:text="${user.username}">Имя</span>!</h2>

    <p>Email: <span th:text="${user.email}">email@example.com</span></p>
    <p>Адрес доставки: <span th:text="${user.order.deliveryAddress}">Адрес</span></p>
    <p>Статус: <span class="status" th:text="${user.order.status}">Статус</span></p>

    <h3>Список строительных товаров:</h3>
    <table>
        <thead>
        <tr>
            <th>Название</th>
            <th>Количество</th>
            <th>Цена за единицу</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${user.order.products}">
            <td th:text="${product.productName}" data-label="Название">Товар</td>
            <td th:text="${product.quantity}" data-label="Количество">0</td>
            <td th:text="${product.price}" data-label="Цена">0.0</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
