logging:
  level:
    root: INFO
    org.springframework: DEBUG

spring:
  application:
    name: gateway-service
  config:
    import: optional:configserver:http://localhost:8888
  main:
    web-application-type: reactive

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
